html {
  font-family: 'Courier New';
  background-color: #149954;
}

body {
  max-width: 1000px
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

.top-container {
  background-color: #FFFFFF;
  padding: 5px;
  text-align: center;
  overflow: hidden;
}

/* Add a black background color to the top navigation */
.topnav {
  position: sticky;
  overflow: hidden;
  background-color: #149954;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #000000;
  color: #E4312b;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #E4312b;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #149954;
  font-weight: bold;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #E4312b;
  text-shadow: 1px 1px 1px black;
}

h1 {
  font-size: 5vw;
  text-align: center;
}

h2 {
  font-size: 4vw;
  text-align: center;
}

li {
  font-size: 3vw;
  line-height: 1.5;
  letter-spacing: 1px;
}

p {
  font-size: 3vw;
  line-height: 1;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}

{
  box-sizing: border-box;
}
  
}
