html {
  font-family: 'Courier New';
}

h1 {
  font-size: 5vw;
  text-align: center;
}

p, li {
  font-size: 3vw;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #149954;
}

body {
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

.header {
  position: sticky;
  top: 0;
  background: #555;
  color: #FFFFFF;
}

a {
  color: #149954;
  font-weight: bold;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #E4312b;
  text-shadow: 2px 2px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
