html {
  font-family: 'Courier New';
  background-color: #149954;
}

body {
  max-width: 1000px
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

.top-container {
  background-color: #FFFFFF;
  padding: 5px;
  text-align: center;
}

.navbar {
  position: sticky;
  top: 0;
  background: #149954;
  color: #000000;
  text-align: center;
}

.navbar ul li{
  display:inline;
  float: left;
  padding-left: 5%;
 }

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #149954;
}

.navbar ul li a {
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #000000;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #149954;
  font-weight: bold;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #E4312b;
  text-shadow: 2px 2px 1px black;
}

h1 {
  font-size: 5vw;
  text-align: center;
}

h2 {
  font-size: 4vw;
  text-align: center;
}

li {
  font-size: 3vw;
  line-height: 1.5;
  letter-spacing: 1px;
}

p {
  font-size: 3vw;
  line-height: 1;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}

{
  box-sizing: border-box;
}
  
}
